@use '@/libs/media.scss' as media;

.editor_wrapper {
  display: flex;
  background-color: rgb(26, 26, 26);
  position: relative;
  height: 100vh;

  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(165, 165, 165);
    border-radius: 1px !important;
  }
}

.right {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  overflow: auto;
  flex: 1;
  background-color: rgb(15, 15, 15);

  @include media.isMedium {
    display: none;
  }
}