* {
  box-sizing: inherit;
}

*::before {
  box-sizing: inherit;
}

*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fade-in-animation: fadeIn 1s ease-in-out;
  --slide-up-from-bottom: slideUpFromBottom 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideUpFromBottom {
  0% {
    transform: translateY(70%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}